{% extends "site_base.html" %}
{% load i18n %}


{% block head_title %}{% trans "Welcome" %}{% endblock %}

{#{% block body_class %}home{% endblock %}#}

{% block body %}
    <h1>{% trans "Welcome to QATrack+" %}</h1>
    <p>Please choose one of the following available items</p>

    <h3>Perform QA</h3>
    <ul>
        <li><a title="Choose a Unit to perform qa on" href="{% url 'choose_unit' %}">Choose a unit to perform QA for</a></li>
        <li><a title="View available test lists to perform" href="{% url 'all_lists' %}">View all test lists available to perform</a></li>
    </ul>

    {% if perms.qa.can_review or perms.qa.can_view_completed %}
        <h3>Review QA</h3>
        {% if perms.qa.can_review %}
            <ul>
                <li><a title="Choose a Unit to review qa for" href="{% url 'choose_review_unit' %}">Choose a unit to review QA for</a></li>
                <li><a title="Review data" href="{% url 'unreviewed' %}">View QA data awaiting review</a></li>
                {% endif %}

                {% if perms.qa.can_view_completed %}
                <li><a title="View trends and control charts" href="{% url 'charts' %}">View trends &amp; control charts</a></li>
                {% endif %}
            </ul>

    {% endif %}

    {% if USE_SERVICE_LOG %}
        {% if perms.service_log.view_serviceevent or perms.service_log.add_serviceevent or perms.service_log.perform_returntoserviceqa or perms.qa.can_review %}
            <h3>Service Log</h3>

            <ul>
                {% if perms.service_log.view_serviceevent %}
                    <li><a title="View all service events" href="{% url 'sl_list_all' %}">View all service events</a></li>
                {% endif %}
                {% if perms.service_log.add_serviceevent %}
                    <li><a title="Open new service event" href="{% url 'sl_new' %}">Open new service event</a></li>
                {% endif %}
                {% if perms.service_log.perform_returntoserviceqa %}
                    <li><a title="View all incomplete RTS QA" href="{% url 'rtsqa_list_incomplete' %}">View all incomplete return to service QA</a></li>
                {% endif %}
                {% if perms.qa.can_review %}
                    <li><a title="View unreviewed RTS QA" href="{% url 'rtsqa_list_unreviewed' %}">View unreviewed return to service QA</a></li>
                {% endif %}
                {% if perms.service_log.add_serviceevent %}
                    <li><a title="Perform PM Task" href="{% url 'pm_unit_new' %}">Choose a unit to perform a PM Task for</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}

 {% endblock %}
